* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 192%;
}

.head {
    width: 100px;
    cursor: default;
    margin-top: 3px;
    margin-left: -140px;
    padding-left: 40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
}

.navbar ul li::after {
    content: '';
    height: 9px;
    width: 0%;
    background-color: teal;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.4s ;
}

.navbar ul li:hover::after {
    width: 100%;
}

.description {
    color: white;
    font-size: 240%;
}