* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.achtergrond {
    width: 100%;
    height: 100vh;
    background-image: url('background1.png');
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 192%;
}

.head {
    width: 100px;
    cursor: default;
    margin-top: 3px;
    margin-left: -140px;
    padding-left: 40px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
}

.navbar ul li::after {
    content: '';
    height: 9px;
    width: 0%;
    background-color: teal;
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.4s ;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateZ(-50%);
    text-align: center;
    color: white;
    font-size: 240%;
    margin-top: -120px;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    padding-bottom: 12px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 370px;
    padding: 19px 0;
    text-align: center;
    margin: 20px 10px;
    font-size: 69%;
    border-radius: 32px;
    font-weight: bold;
    border: 2px solid teal;
    background: transparent;
    color: inherit;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

button a {
    color: white;
    text-decoration: none;
}